.form-container{
    width: 880px;
    height: 700px;

    background: #FFD481;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: left;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form-container .next{
    position: absolute;
    right: -35px;
    top: 315px;
    background-color: #30323D;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    color: white;
    font-size: 33px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container .previous{
    position: absolute;
    left: -35px;
    top: 315px;
    background-color: #30323D;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    color: white;
    font-size: 33px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container h1{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 51px;
    color: #000000;
    padding: 50px 10px 10px 50px;
    margin:0;
}

.form-container p{
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    color: #434343;
    margin: 0;
    padding-left: 50px;
}

.form-content{
    padding: 64px 90px;
}

.form-content-left{
    float: left;
    text-align: center;
}

.form-content-right{
    float: right;
}

.form-content label{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;

    color: #000000;
}

.form-content-right .input{
    width: 270px;
    height: 40px;

    background: #FFFFFF;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 32px;
    border: none;
    padding: 0 10px;
}

input[type="submit"]{
    width: 290px;
    height: 40px;

    background: #30323D;
    border-radius: 5px;
    border: none;

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;

    color: #FFFFFF;
}

.step2 .form-content .input{
    width: 610px;
    height: 40px;

    background: #FFFFFF;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 24px;
    border: none;
    padding: 0 10px;
}

.step2 img{
    width: auto;
    height: 280px;
    position: absolute;
    right: -20px;
    bottom: 0;
    z-index: -1;
}

h5{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;

    color: #000000;

}

.next-form{
    position: absolute;
    width: 170px;
    height: 630px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    /* Jet */

    background: #30323D;
    border-radius: 5px 0px 0px 5px;

    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    text-align: center;

    color: #FFFFFF;

}
.next-form:hover, .previous-form:hover, .next:hover, .previous:hover{
    cursor: pointer;
}
.previous-form{
    position: absolute;
    width: 170px;
    height: 630px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    /* Jet */

    background: #30323D;
    border-radius: 0px 5px 5px 0px;

    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    text-align: center;

    color: #FFFFFF;
}

.progress-bar-list{
    list-style-type:none;
}

.progress-bar-list li{
    display: inline;
}

.progress-bar-list li:before{
    height: 20px;
    width: 20px;
    display: block;
    border-radius: 50%;
    background-color: #FFD481;
}