.card-one {
  padding: 4rem;
  background: #fff;
  transform: translate(0%, 2000px);  
}


h2 {
  text-align: center;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 51px;
}

h3 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  
  
  width: 790px;
  height: 84px;

  top: 71px;
  
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  width: 790px;
  color: rgba(48, 50, 61, 0.7);
} 

.card-one-wrapper {
  align-items: start;
  position: relative;
  margin: 50px 0 50px;
  display: grid;
  grid-gap: 30px;
  justify-content: center;
  flex-direction: row;
  margin: 0 1rem;
  border-radius: 20px;
  grid-template-columns: repeat(auto-fit, 340px);
}
.card-one-container
{
  width: 340px;
  height: 190px;
  display: flex;
  flex-direction: row;
  background: #FFFFFF;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.25);
  /* border: 1px solid #E5E5E5; */
  border-radius: 10px;
  border-color: grey;
  
  justify-content: center;
  align-items: center;
  padding: 10px, 20px, 10px, 20px;
  margin: 0px 20px;
  margin-bottom: 24px;
}

.card-content {
  margin: 0px 20px;
  text-align: center;
  line-height: 60px;
}

.profile-pic {
  width: 120px;
  height: 120px;
  top: 35px;
  left: 40px;
  align-items: center;
  background-color: #FFFFFF;
  position: static;
  /* overflow: hidden; */
  border-radius: 50%;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.props-name {
  position: static;
  width: 166px;
  height: 25px;
  left: 0px;
  top: 0px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  text-align: center;

  color: #000000;


  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
}

.props-pronouns {
  position: static;
  width: 166px;
  height: 16px;
  left: 0px;
  top: 35px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */
  text-align: center;

  color: rgba(48, 50, 61, 0.7);


  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 10px 0px;
}

.props-about {
  position: static;
  width: 166px;
  height: 42px;
  left: 0px;
  top: 61px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

  color: #30323D;


  /* Inside Auto Layout */
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 10px 0px;
  
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}
