.card-container {
    width: 500px;
    height: 300px;
    left: 0px;
    top: 0px;
  
    background: #ffd481;
    box-shadow: 4px 4px 4px rgba(67, 67, 67, 0.25);
    border-radius: 10px;
    padding: 25px;
  
    text-align: left;
    display: inline-block;
    margin: 50px;
  }
  .cards-container{
    text-align: center;
  }
.card-top{
    height: 30px;
}
  
  .card-add-calendar {
      float: right;
      font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    /* identical to box height */


    /* Jet */

    color: #30323D;
  }

  .card-add-calendar span{
    padding: 5px 10px;
    font-size: 14px;
  }
  
  .card-category {
    float: left;
    padding: 5px 10px;
    margin-right: 10px;
  
    background: #ffffff;
    border-radius: 9px;
  
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  
    color: #30323d;
  }

  .card-title h1{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
  
    color: #30323d;
  
    margin-bottom: 30px;
  }
  
  .card-time {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 16px;
    color: #30323d;
    margin: 15px 0;
  }
  .card-time span {
    font-size: 14px;
    margin-left: 10px;
  }
  
  h4 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
  
    color: #30323d;
  }
  
  .card-mentor {
    position: relative;
    float: left;
    margin-right: 30px;
  }
  .card-mentor-photo img {
    border-radius: 50%;
  }
  .card-mentor-photo {
    margin-right: 15px;
    float: left;
  }
  .card-mentor-name {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #59524b;
  }
  .card-mentor-right {
    float: right;
    width: 120px;
  }
  .card-mentor-right span {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  
    color: #6a6a6a;
  }
  .card-mentor-line {
    background-color: #a981ff;
    border: 0 none;
    color: #a981ff;
    height: 2px;
  }
  